[submodule "bundle/Zenburn"]
	path = bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/vim-bookmarks"]
	path = bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = https://github.com/sirver/UltiSnips
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/ranger.vim"]
	path = bundle/ranger.vim
	url = https://github.com/francoiscabrol/ranger.vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/preservim/tagbar
[submodule "pack/clojure/start/vim-classpath"]
	path = pack/clojure/start/vim-classpath
	url = https://github.com/tpope/vim-classpath
[submodule "pack/clojure/start/vim-clojure-static"]
	path = pack/clojure/start/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "pack/clojure/vim-sexp"]
	path = pack/clojure/vim-sexp
	url = https://github.com/guns/vim-sexp
[submodule "pack/clojure/vim-repeat"]
	path = pack/clojure/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/clojure/vim-sexp-mappings-for-regular-people"]
	path = pack/clojure/vim-sexp-mappings-for-regular-people
	url = https://github.com/tpope/vim-sexp-mappings-for-regular-people
[submodule "pack/clojure/rainbow"]
	path = pack/clojure/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "pack/supercollider/start/vim-tidal"]
	path = pack/supercollider/start/vim-tidal
	url = https://github.com/tidalcycles/vim-tidal
[submodule "pack/default/start/vim-commentary"]
	path = pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "bundle/vim-prettier"]
	path = bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "pack/bundle/opt/vim-scriptease"]
	path = pack/bundle/opt/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule "pack/minpac/start/minpac"]
	path = pack/minpac/start/minpac
	url = https://github.com/k-takata/minpac.git
